.spinner {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border: 5px solid #ddd;
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    align-self: center;
  }
  
  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }


.upload-button{
    background-color: #05eaff;
}

.upload-input{
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

.input-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    margin:10px 0px 20px 0px;
    border-style: solid;
    border-radius: 20px;
}

.input-base-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    
}
.drag-drop-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
  border-style: dashed;
  border-radius: 20px;
}